body {
background-color: black;
  font-family: Arial, sans-seriSf;
  padding: 100px;
  color: red;
  font-weight: 700;
}

.right {
  float: right;
  width: 300px;
  margin: 10px;
}

nav {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: auto;
}

th, td {
  padding: 10px;
  border: 1px solid #8C8C8C;
}
a {
  color: pink;
}
